@* allCourses Template File *@
@(courses:Seq[Course])
@main("Student Information System"){
	@helper.form(action = routes.CourseController.searchCoursesByDepartment){
		Department: <input type = "text" name = "dept">
		
		<input type ="submit" name = "search" value = "Search by Department">
	}
	<table border="1" style="width:100%">
		<tr>
				<td><h3>Course code</h3></td>
				<td><h3>Course Name</h3></td>
				<td><h3>Units</h3></td>
				<td><h3>Details</h3></td>
		</tr>
		@courses.map{course=>
			
			<tr>
				
				<td>@course.departmentID@course.courseNumber</td>
				<td>@course.courseName</td>
				<td>@course.numberOfUnits</td>
				
				<td>@helper.form(action=routes.CourseController.courseDetail(course.departmentID,course.courseNumber)){
					<input type="submit" value ="Details">
				}</td>
			</tr>
		}
	</table>
	
}	